@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #020617;
  color: white;
  font-family: "Inter", sans-serif;
}

/* unified scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}